/* Limpeza básica e estilo global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
}

/* index.css */

/* Estilo para o formulário de login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Garantir que ocupe toda a altura da tela */
}

.login-card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.auth-card {
  width: 350px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
}

